/* ----------HEADER BLEU---------- */


/* NAVBAR 1 */

@mixin headerBleu() {
    .navbar1 {
        text-transform: uppercase;
        background-color: rgba(255, 255, 255, 0.55);
        right: 0;
        width: 100%;
        .navbar-nav {
            float: right;
        }
        .bande {
            border-bottom: solid 5px $bleu;
            height: 55px;
        }
        .onglet1 {
            a {
                border-bottom: solid 5px $bleu;
                color: $bleu;
            }
        }
        .onglet2 {
            a {
                border-bottom: solid 5px $bordeau;
                color: $bordeau;
            }
        }
        .onglet3 {
            a {
                border-bottom: solid 5px $jaune;
                color: $jaune;
            }
        }
        .onglet4 {
            a {
                border-bottom: solid 5px $bleu;
                color: $bleu;
            }
        }
        .contact .navbar2 .onglet3 a:hover {
            color: red;
        }
        .form-control {
            border-radius: 100px;
        }
        .form-group {
            vertical-align: center;
            margin: 5px 10px 0px 10px;
        }
    }
    .navbar-right {
        margin-right: 0px;
    }
}


/* COUVERTURE */

.couverture {
    position: relative;
    z-index: -1;
    .img-fluid {
        width: 100%;
    }
    .logo {
        width: 20%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


/* NAVBAR 2 */

.navbar2 {
    text-transform: uppercase;
    width: 100%;
    li {
        width: 33.33%;
        text-align: center;
        a {
            border-bottom: solid 5px $bleu;
            color: $bleu;
        }
    }
    .onglet2 {
        border-left: 3px solid $bleu;
        border-right: 3px solid $bleu;
    }
}


/* ----------HEADER BORDEAU---------- */


/* NAVBAR 1 */

@mixin headerBordeau() {
    .navbar1 {
        text-transform: uppercase;
        background-color: rgba(255, 255, 255, 0.55);
        right: 0;
        width: 100%;
        .navbar-nav {
            float: right;
        }
        .bande {
            border-bottom: solid 5px $bordeau;
            height: 55px;
        }
        .onglet1 {
            a {
                border-bottom: solid 5px $bleu;
                color: $bleu;
            }
        }
        .onglet2 {
            a {
                border-bottom: solid 5px $bordeau;
                color: $bordeau;
            }
        }
        .onglet3 {
            a {
                border-bottom: solid 5px $jaune;
                color: $jaune;
            }
        }
        .onglet4 {
            a {
                border-bottom: solid 5px $bleu;
                color: $bleu;
            }
        }
        .form-control {
            border-radius: 100px;
        }
        .form-group {
            vertical-align: center;
            margin: 5px 10px 0px 10px;
        }
    }
    .navbar-right {
        margin-right: 0px;
    }
    /* COUVERTURE */
    .couverture {
        position: relative;
        z-index: -1;
        .img-fluid {
            width: 100%;
        }
        .logo {
            width: 30%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    /* NAVBAR 2 */
    .navbar2 {
        text-transform: uppercase;
        width: 100%;
        li {
            width: 33.33%;
            text-align: center;
            a {
                border-bottom: solid 5px $bordeau;
                color: $bordeau;
            }
        }
        .onglet2 {
            border-left: 3px solid $bordeau;
            border-right: 3px solid $bordeau;
        }
    }
}


/* ----------HEADER JAUNE---------- */

@mixin headerJaune() {
    .navbar1 {
        text-transform: uppercase;
        background-color: rgba(255, 255, 255, 0.55);
        right: 0;
        width: 100%;
        .navbar-nav {
            float: right;
        }
        .bande {
            border-bottom: solid 5px $jaune;
            height: 55px;
        }
        .onglet1 {
            a {
                border-bottom: solid 5px $bleu;
                color: $bleu;
            }
        }
        .onglet2 {
            a {
                border-bottom: solid 5px $bordeau;
                color: $bordeau;
            }
        }
        .onglet3 {
            a {
                border-bottom: solid 5px $jaune;
                color: $jaune;
            }
        }
        .onglet4 {
            a {
                border-bottom: solid 5px $bleu;
                color: $bleu;
            }
        }
        .form-control {
            border-radius: 100px;
        }
        .form-group {
            vertical-align: center;
            margin: 5px 10px 0px 10px;
        }
    }
    .navbar-right {
        margin-right: 0px;
    }
    /* COUVERTURE */
    .couverture {
        position: relative;
        z-index: -1;
        .img-fluid {
            width: 100%;
        }
        .logo {
            width: 30%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    /* NAVBAR 2 */
    .navbar2 {
        text-transform: uppercase;
        width: 100%;
        li {
            width: 33.33%;
            text-align: center;
            a {
                border-bottom: solid 5px $jaune;
                color: $jaune;
            }
        }
        .onglet2 {
            border-left: 3px solid $jaune;
            border-right: 3px solid $jaune;
        }
    }
}