@import "variables.scss";
@import "headers";
@import "footer";
.bleu {
    color: $bleu;
}

.bordeau {
    color: $bordeau;
}

.jaune {
    color: $jaune;
}

.blanc {
    color: $blanc;
}


/* ----------PAGE ACCUEIL---------- */

.accueil {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    @include headerBleu();
    @include titres();
    /*=== PRESENTATION  ==========================++++++++++*/
    p {
        text-align: center;
        font-size: 16px;
        margin-left: 15%;
        margin-top: 10px;
        margin-right: 15%;
        font-style: "Lato";
    }
    #presentation p {
        text-align: center;
        font-size: 16px;
        margin-left: 15%;
        margin-top: 10px;
        margin-right: 15%;
        font-style: "Lato";
    }
    p {
        padding-top: 100px;
        padding-bottom: 60px;
        margin-left: 15%;
        margin-right: 15%;
    }
    #presentation img {
        padding-bottom: 60px;
        margin: 0 auto !important;
    }
}


/* -----------PAGE OSTERIA MATHI---------- */

.osteria {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    @include headerBordeau();
    @include titres();
    .left {
        border-top: solid 2px $bordeau;
        border-left: solid 2px $bordeau;
        text-align: left;
    }
    .right {
        border-top: solid 2px $bordeau;
        border-right: solid 2px $bordeau;
        text-align: right;
    }
    .row {
        margin: 60px auto 0px auto;
        width: 90%;
    }
    section {
        p {
            font-size: 18px;
            font-style: "Lato";
            line-height: 2em;
        }
    }
    .presentation {
        p {
            width: 80%;
            margin: auto;
            text-align: center;
            margin-top: 40px;
        }
    }
    .black-border {
        width: calc(100% - 30px);
        position: absolute;
        bottom: 0px;
        background-color: rgba(0, 0, 0, 0.7);
        height: 45px;
        color: white;
        text-transform: uppercase;
        .text-left {
            padding-left: 10px;
        }
        .text-right {
            text-align: right;
            padding-right: 10px;
        }
    }
}


/* -----------PAGE ESPACE MATHI---------- */

.espace {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    @include headerJaune();
    h1 {
        margin-top: 7%;
        margin-bottom: 7%;
        color: orange;
    }
}

.collabo {
    float: right;
}

.lorem {
    margin-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

h5 {
    color: white;
}

.lorem2 {
    display: inline;
    text-align: right;
}

.lorem3 {
    display: inline;
    text-align: left;
}

.col-lg-3 col-md-3 col-sm-3 col-xs-12 {
    position: relative;
}

.position {
    position: relative;
}

.barre {
    width: calc(100% - 30px);
    position: absolute;
    bottom: 0px;
    background-color: black;
    height: 45px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}


/* -----------PAGE BOUTIQUE---------- */

.boutique {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    @include headerBleu();
    .logo {
        font-size: 5em;
        width: 80%;
        color: $bleu;
    }
}


/* -----------PAGE EVENEMENTS---------- */

.evenements {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    @include headerBleu();
    .navbar2 {
        .onglet1 {
            background-color: $bleu;
            a {
                color: $blanc;
            }
        }
    }
}


/* -----------PAGE VIDEOS---------- */

.videos {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    @include headerBleu();
    .navbar2 {
        .onglet2 {
            background-color: $bleu;
            a {
                color: $blanc;
            }
        }
    }
}


/* -----------PAGE CONTACT---------- */

.contact {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    @include headerBleu();
    .navbar2 {
        .onglet3 {
            background-color: $bleu;
            a {
                color: $blanc;
            }
        }
    }
}


/* -----------PAGE PARTENAIRES---------- */

.bloc-partenaires {
    margin-top: 90px;
}

.logo-partenaires {
    max-height: 130px;
    top: 50%;
    transform: translateY(-50%);
}


/* -----------PAGE VIDEOS---------- */

.bloc-videos {
    margin-top: 80px !important;
}


/* -----------PAGE CONTACT---------- */

.contact .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.contact .navbar1 {
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.55);
    right: 0;
    width: 100%;
}

.contact .navbar1 .navbar-nav {
    float: right;
}

.contact .navbar1 .bande {
    border-bottom: solid 5px #0069B4;
    height: 55px;
}

.contact .navbar1 .onglet1 a {
    border-bottom: solid 5px #0069B4;
    color: #0069B4;
}

.contact .navbar1 .onglet2 a {
    border-bottom: solid 5px #7E142E;
    color: #7E142E;
}

.contact .navbar1 .onglet3 a {
    border-bottom: solid 5px #F99D1C;
    color: #F99D1C;
}

.contact .navbar1 .onglet4 a {
    border-bottom: solid 5px #0069B4;
    color: #0069B4;
}

.contact .navbar1 .form-control {
    border-radius: 100px;
}

.contact .navbar1 .form-group {
    vertical-align: center;
    margin: 5px 10px 0px 10px;
}

.contact .navbar-right {
    margin-right: 0px;
}

.contact .navbar2 .onglet3 {
    background-color: #0069B4;
}

.contact .navbar2 .onglet3 a {
    color: #FFFFFF;
}

.contact h1 {
    margin-top: 10%;
    margin-bottom: 10%;
    color: #0069B4;
}

form {
    color: #0069B4;
}


/* -----------PAGE EVENEMENTS---------- */

.evenements .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.evenements .navbar1 {
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.55);
    right: 0;
    width: 100%;
}

.evenements .navbar1 .navbar-nav {
    float: right;
}

.evenements .navbar1 .bande {
    border-bottom: solid 5px #0069B4;
    height: 55px;
}

.evenements .navbar1 .onglet1 a {
    border-bottom: solid 5px #0069B4;
    color: #0069B4;
}

.evenements .navbar1 .onglet2 a {
    border-bottom: solid 5px #7E142E;
    color: #7E142E;
}

.evenements .navbar1 .onglet3 a {
    border-bottom: solid 5px #F99D1C;
    color: #F99D1C;
}

.evenements .navbar1 .onglet4 a {
    border-bottom: solid 5px #0069B4;
    color: #0069B4;
}

.evenements .navbar1 .form-control {
    border-radius: 100px;
}

.evenements .navbar1 .form-group {
    vertical-align: center;
    margin: 5px 10px 0px 10px;
}

.evenements .navbar-right {
    margin-right: 0px;
}

.evenements .navbar2 .onglet1 {
    background-color: #0069B4;
}

.evenements .navbar2 .onglet1 a {
    color: #FFFFFF;
}

.agenda_photos {
    margin-top: 10%;
    margin-bottom: 10%;
    color: #0069B4;
}

.agenda_photos h1::before,
.agenda_photos h1::after {
    content: '';
    width: 30%;
    border-bottom: black solid;
    display: inline-block;
    vertical-align: middle;
}

.agenda_photos h1::before {
    margin-left: -100%;
    margin-right: 3em
}

.agenda_photos h1::after {
    margin-right: -100%;
    margin-left: 3em;
}