@import "variables";
@import "headers";

/* ----------PAGE ACCUEIL---------- */

.accueil {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    @include headerBleu();
}


/* -----------PAGE OSTERIA MATHI---------- */

.osteria {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    @include headerBordeau();
}


/* -----------PAGE ESPACE MATHI---------- */

.espace {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    @include headerJaune();
}


/* -----------PAGE BOUTIQUE---------- */

.boutique {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    @include headerBleu();
}


/* -----------PAGE EVENEMENTS---------- */

.evenements {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    @include headerBleu();
    .navbar2 {
        .onglet1 {
            background-color: $bleu;
            a {
                color: $blanc;
            }
        }
    }
}


/* -----------PAGE VIDEOS---------- */

.videos {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    @include headerBleu();
    .navbar2 {
        .onglet2 {
            background-color: $bleu;
            a {
                color: $blanc;
            }
        }
    }
}


/* -----------PAGE CONTACT---------- */

.contact {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    @include headerBleu();
    .navbar2 {
        .onglet3 {
            background-color: $bleu;
            a {
                color: $blanc;
            }
        }
    }
}