@import "variables";
@import "headers";
.bleu {
    color: $bleu;
}

.bordeau {
    color: $bordeau;
}

.jaune {
    color: $jaune;
}

.blanc {
    color: $blanc;
}


/* ----------PAGE ACCUEIL---------- */

.accueil {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    /*=== PRESENTATION  ==========================++++++++++*/
    #presentation h1 {
        color: $bleu;
        margin-top: 60px;
        text-align: center;
        font-size: 35px;
        font-style: "Lato";
    }
    p {
        text-align: center;
        font-size: 16px;
        margin-left: 15%;
        margin-top: 10px;
        margin-right: 15%;
        font-style: "Lato";
    }
    #presentation p {
        text-align: center;
        font-size: 16px;
        margin-left: 15%;
        margin-top: 10px;
        margin-right: 15%;
        font-style: "Lato";
    }
    p {
        padding-top: 100px;
        padding-bottom: 60px;
        margin-left: 15%;
        margin-right: 15%;
    }
    #presentation img {
        padding-bottom: 60px;
        margin: 0 auto !important;
    }
    @include headerBleu();
}


/* -----------PAGE OSTERIA MATHI---------- */

.osteria {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    @include headerBordeau();
}


/* -----------PAGE ESPACE MATHI---------- */

.espace {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    @include headerJaune();
}


/* -----------PAGE BOUTIQUE---------- */

.boutique {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    @include headerBleu();
}


/* -----------PAGE EVENEMENTS---------- */

.evenements {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    @include headerBleu();
    .navbar2 {
        .onglet1 {
            background-color: $bleu;
            a {
                color: $blanc;
            }
        }
    }
}


/* -----------PAGE VIDEOS---------- */

.videos {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    @include headerBleu();
    .navbar2 {
        .onglet2 {
            background-color: $bleu;
            a {
                color: $blanc;
            }
        }
    }
}


/* -----------PAGE CONTACT---------- */

.contact {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    @include headerBleu();
    .navbar2 {
        .onglet3 {
            background-color: $bleu;
            a {
                color: $blanc;
            }
        }
    }
}


/* -----------PAGE PARTENAIRES---------- */

.logo-partenaires {
    max-height: 130px;
    top: 50%;
    transform: translateY(-50%);
}