/* ----------PAGE---------- */
body .container-fluid {
  padding-left: 0px;
  padding-right: 0px; }

/* ----------HEADER---------- */
/* NAVBAR 1 */
.navbar1 {
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.55);
  position: fixed;
  right: 0;
  width: 100%; }
  .navbar1 .navbar-nav {
    float: right; }
  .navbar1 .bande {
    border-bottom: solid 5px #0069B4;
    height: 55px; }
  .navbar1 .onglet1 a {
    border-bottom: solid 5px #0069B4;
    color: #0069B4; }
  .navbar1 .onglet2 a {
    border-bottom: solid 5px #7E142E;
    color: #7E142E; }
  .navbar1 .onglet3 a {
    border-bottom: solid 5px #F99D1C;
    color: #F99D1C; }
  .navbar1 .onglet4 a {
    border-bottom: solid 5px #0069B4;
    color: #0069B4; }
  .navbar1 .form-control {
    border-radius: 100px; }
  .navbar1 .form-group {
    vertical-align: center;
    margin: 5px 10px 0px 10px; }

.navbar-right {
  margin-right: 0px; }

/* COUVERTURE */
.couverture {
  position: relative;
  z-index: -1; }
  .couverture .img-fluid {
    width: 100%; }
  .couverture .logo {
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/* NAVBAR 2 */
.navbar2 {
  text-transform: uppercase;
  width: 100%; }
  .navbar2 li {
    width: 33.33%;
    text-align: center; }
    .navbar2 li a {
      border-bottom: solid 5px #0069B4;
      color: #0069B4; }
  .navbar2 .onglet2 {
    border-left: 3px solid #0069B4;
    border-right: 3px solid #0069B4; }
